/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.scss';

.Header {
  background: #FF5000;
  color: #fff;
  position:fixed;
  top:0;
  left:0;
  z-index: 5;
  width:100%;
  opacity: 1;
}

.Header-branding{
    float: left;
    margin: 0 3%;
    font-size: 30px;
    line-height: 50px;
    height: 40px;
    padding: 0;
}

.Header a{
  color:white;
  underline: none;
  text-decoration: none;
}

.Header-container {
  width:96%;
  margin: 0 auto;
  padding: 0 3%;
  max-width: $max-content-width;
}

.Header-icon{
  height: 40px;
  width: 40px; 
  line-height: 40px;
  font-size: 30px; 
  padding:0;
  margin: 5px;
  text-align:center;
  cursor:pointer;
}

.Header-icon--left{
  float:left;
}

.Header-icon--right{
 float:right; 
}

.testButton{
  background-color:red;
  cursor:pointer;
  height: 60px;
  width: 60px; 
  margin:auto;
}
